<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!----===== Boxicons CSS ===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <title>Domov</title>
    <iframe
        src="../naloga/index.html"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0"
    >
    </iframe>
</body>
</html>
