
.card {
    border-radius: 10px !important; 
    
}
.card-body{
    
    border-radius: 10px;
    background-color: rgb(245, 250, 254);
}

body {
    background-image: linear-gradient(to right top, #5b5b5b, #8d6d82, #cf7a80, #f29a5d, #dcd13f) !important; 
}
h1{
    color: rgb(255, 253, 210) !important;
}

/*Spreminjarnje ikonce, animacija*/
.icon-link {
    display: inline-block;
    transition: transform 0.5s ease;
  }

  .icon-link:hover {
    transform: scale(1.5) rotate(-15deg);
  }

/*File drop*/

.filepond--credits {
    display: none;
}
@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - 0.5em);
    }
}


